@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  
  
}


.body{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
.container{
  background-color:rgb(3, 76, 83);
  border-radius: 30px;
  height: 370px;
  width: 250px;
  justify-items: center;
  padding: 20px;
  
  
}

.search{
  
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  
  
  
  
}
.container .search input{
  border-radius: 15px;
  border: none;
  height: 15px;
  padding: 9px;
  box-shadow: none;
  outline: none;
  padding-left: 20px;
  
}
.searchIcon{
  background: white;
  border-radius:100px;
  padding: 5px 7px;
  cursor: pointer;

}
.weather .Icon{
  height: 124px;
  
}
.weather{
  display: flex;
  flex-direction: column;
  
  text-align: center;
}
.weather .temp{
  color: white;
  font-size:larger;
  font-weight:500;
  font-size: 50px;
  
}
.city{
  color: white;
  font-size:larger;
  font-weight:500;
  font-size: 20px;

}

.bottom{
  display: flex;
  width: 100%;
  justify-content:space-between;
  
  margin-top: 30px ;
  margin-bottom: 10px;
  color: white;
  
}
.bottom img{
  height: 20px;
}
.bottom .wind,.humidity{
  display: flex;
  text-align: center;
  gap: 12px;
  align-items: center;
  font-size: 14px;
}